<h1> Signup</h1>
<form action="/signup" method="post">
	<label for="username"> Username
		<input type="text" name="username" value= {{ username }}> </input>
	</label>
	{% if uerror %}
  	<span class='error'>{{ uerror }}</span>
	{% endif %}
	</br>
	<label for="password">Password
		<input type="password" name="password" value=""/>
	</label>
	{% if perror %}
	<span class='error'>{{ perror }}</span>
	{% endif %}
	</br>
	<label for="verify-password">Verify Password
		<input type="password" name="verify-password" value=""/>
	</label>
	{% if verror %}	
	<span class='error'>{{ verror }}</span>
	{% endif %}
	</br>
	<label for="email">Email (optional)
		<input type="text" name="email" value= {{email}}></input>
	</label>
	{% if eerror %}
	<span class='error'>{{ eerror }}</span>
	{% endif %}
	</br>
	<input type="submit" value="Submit"/>
</form>

<!--If any of these are empty: Username, Password, or Verify Password
	Return following error: "Please put in a {Whichever One is Empty}"-->

<!--If error == False:
	Redirect to a page that says "Welcome [Username]!" -->
